<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Groupe Data Visu 2 &mdash; Projet TD1</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'img/favicon.png') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/core.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.min.css') }}">
</head>

<body>

    <!-- Menu Lateral -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
        <header class="sidebar-header">
          <span class="logo">
            <a><img src="{{ url_for('static', filename= 'img/icom2.png') }}" alt="logo"></a>
          </span>
        </header>
  
        <nav class="sidebar-navigation">
          <ul class="menu">
  
            
  
            <li class="menu-item active">
              <a class="menu-link" href="http://localhost:10546/">
                <span class="icon fa fa-home"></span>
                <span class="title">Accueil</span>
              </a>
            </li>
  
            <li class="menu-category">Interface</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Interface</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page1</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page2</span>
                  </a>
                </li>
              </ul>
            </li>
  
            <li class="menu-category">Data Visualisation</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Visu 1</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="dblp_Projet.html">
                    <span class="dot"></span>
                    <span class="title">Page1</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="/request">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Visu 2</span>
                <span class="arrow"></span>
              </a>
            </li>
  
            <li class="menu-category">Data Analyse</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Analyse</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/get_graph">
                    <span class="dot"></span>
                    <span class="title">Détection de commuanuté</span>
                  </a>
                </li>
                
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/Topics">
                    <span class="dot"></span>
                    <span class="title">Détection de Topics</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/get_prediction">
                    <span class="dot"></span>
                    <span class="title">Prédiction</span>
                  </a>
                </li>
              </ul>
            </li>
  
          </ul>
        </nav>
  
    </aside>
    <!-- Menu Lateral -->


    <main class="main-container">
      <div class="main-content">
        <div class="card">
          <h4 class="card-title"><strong>Integration Groupe TD1</strong></h4>
          <div class="card-body">
            <p>Vous pouvez accéder à chaque traveaux réalisé (Interface/Data Visu/Data analyse) par biais du volet qui se trouve à gauche </p>
          </div>
        </div> 
      </div> 

      <!-- Footer -->
      <footer class="site-footer">
        <div class="row">
          <div class="col-md-9">
            <p class="text-center text-md-left">Projet Intégré Groupe TD1 2020/2021</p>
          </div>

        </div>
      </footer>
      <!-- /Footer -->

    </main>

    <script src="{{ url_for('static', filename= 'js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/script.min.js') }}"></script>

    <script>
      function TableSelectChange(){

          document.getElementById("yearSelector").hidden = true;
          document.getElementById("CategorySelector").hidden = true;
          document.getElementById("VenueCheck").hidden = false;
          document.getElementById("KeywordCheck").hidden = false;

          switch(document.forms.request.TableSelect.value){
              case "0":
                  
              break;
              case "1":
                  document.getElementById("yearSelector").hidden = false;
                  document.getElementById("CategorySelector").hidden = false;
              break;
              case "2":
                  document.getElementById("VenueCheck").hidden = true;
              break;
              case "3":
                  document.getElementById("KeywordCheck").hidden = true;
              break;

          }
      }

      function OnYearChecked(){
          if(document.forms.request.YearCheck.checked){
              document.forms.request.MinYearInput.disabled = false;
              document.forms.request.MaxYearInput.disabled = false;
          }else{
              document.forms.request.MinYearInput.disabled = true;
              document.forms.request.MaxYearInput.disabled = true;
          }
      }
  </script>
</body>

</html>