<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Groupe Data Visu 2 &mdash; Projet TD1</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'img/favicon.png') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/core.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/app.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.min.css') }}">
</head>

<body>

    <!-- Menu Lateral -->
    <aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
        <header class="sidebar-header">
          <span class="logo">
            <a><img src="{{ url_for('static', filename= 'img/icom2.png') }}" alt="logo"></a>
          </span>
        </header>
  
        <nav class="sidebar-navigation">
          <ul class="menu">
  
            
  
            <li class="menu-item active">
              <a class="menu-link" href="http://localhost:10546/">
                <span class="icon fa fa-home"></span>
                <span class="title">Accueil</span>
              </a>
            </li>
  
            <li class="menu-category">Interface</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Interface</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page1</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page2</span>
                  </a>
                </li>
              </ul>
            </li>
  
            <li class="menu-category">Data Visualisation</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Visu 1</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="dblp_Projet.html">
                    <span class="dot"></span>
                    <span class="title">Page1</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="#">
                    <span class="dot"></span>
                    <span class="title">Page2</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="/request">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Visu 2</span>
                <span class="arrow"></span>
              </a>
            </li>
  
            <li class="menu-category">Data Analyse</li>
  
            <li class="menu-item">
              <a class="menu-link" href="#">
                <span class="icon fa fa-user"></span>
                <span class="title">Groupe Data Analyse</span>
                <span class="arrow"></span>
              </a>
  
              <ul class="menu-submenu">
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/get_graph">
                    <span class="dot"></span>
                    <span class="title">Détection de commuanuté</span>
                  </a>
                </li>
                
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/Topics">
                    <span class="dot"></span>
                    <span class="title">Détection de Topics</span>
                  </a>
                </li>
  
                <li class="menu-item">
                  <a class="menu-link" href="http://localhost:10546/get_prediction">
                    <span class="dot"></span>
                    <span class="title">Prédiction</span>
                  </a>
                </li>
              </ul>
            </li>
  
          </ul>
        </nav>
  
    </aside>
    <!-- Menu Lateral -->


    <main class="main-container">
      <div class="main-content">
        <div class="card">
          <h4 class="card-title"><strong>Groupe Data Visualization 2</strong></h4>
          <div class="card-body">
            <p>Vous pouvez éxécuter votre requète à l'aide du formulaire ci-dessous. </p>
          </div>
        </div> 
        <div class="card">
          <div class="card-body">
            <form action="graph" method="post" name="request">

              <select name="TableSelect" onchange="TableSelectChange()">
                  <option value="0">Auteur</option>
                  <option value="1">Publication</option>
                  <option value="2">Venue</option>
                  <option value="3">Keyword</option>
              </select><br/>
      
              <div id="singleSelector">
                  Chercher par : 
                  <input value="0" name="NameRadio" type="radio"> Id
                  <input value="1" name="NameRadio" type="radio" checked> Nom
                  <input name="SingleSelector" type="text">
              </div><br/><br/>
              
              <div id="AutorCheck"><input name="AutorCheck" type="checkbox">Auteur<br/></div>
              <div id="PublicationCheck"><input name="PublicationCheck" type="checkbox">Publication<br/></div>
              <div id="KeywordCheck"><input name="KeywordCheck" type="checkbox">Keyword<br/></div>
              <div id="VenueCheck"><input name="VenueCheck" type="checkbox">Venue<br/></div>
              <div id="yearSelector" hidden><input name="YearCheck" type="checkbox">Année</div><br/>
      
              <br/>
              <div id="maxSelector">
                  <input name="MaxNbCheck" type="checkbox" checked>
                  <span>Max nb Résultats :</span>
                  <input name="MaxNbInput" type="number" min="1" max="500" step="1" value="100"> Max : 500
              </div><br/>
      
              <input type="submit" value="Submit" onclick="document.getElementById('loading').hidden = false"><span id="loading" hidden> Création du graph...</span>
            </form>
          </div>
        </div>

      </div> 

      <!-- Footer -->
      <footer class="site-footer">
        <div class="row">
          <div class="col-md-9">
            <p class="text-center text-md-left">Projet Intégré Groupe TD1 2020/2021</p>
          </div>

        </div>
      </footer>
      <!-- /Footer -->

    </main>

    <script src="{{ url_for('static', filename= 'js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/script.min.js') }}"></script>

    <script>
      function TableSelectChange(){

          document.getElementById("yearSelector").hidden = true;
          document.getElementById("PublicationCheck").hidden = false;
          document.getElementById("VenueCheck").hidden = false;
          document.getElementById("KeywordCheck").hidden = false;

          switch(document.forms.request.TableSelect.value){
              case "0":
                  
              break;
              case "1":
                  document.getElementById("yearSelector").hidden = false;
                  document.getElementById("PublicationCheck").hidden = true;
              break;
              case "2":
                  document.getElementById("VenueCheck").hidden = true;
              break;
              case "3":
                  document.getElementById("KeywordCheck").hidden = true;
              break;

          }
      }
  </script>
</body>

</html>